@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
:root{
  ---blue:aqua;
  ---dark-color:blue;
  ---black:black;
  ---light-color:aquamarine;
  ---border:.1rem solid rgba(0,0,0,.1);
  ---border-hover:.1rem solid var(----black);
  ---box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2S linear;
    transition: width none;
}
html{
  font-size: 62.5%;
  overflow-x:hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: 1rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: var(---black);
}
.header .header1{
  background: var(---light-color);
  padding: 1.5rem 9%;
  align-items: center;
  justify-content: space-between;

}
.header .header1 .logo {
    display: flex;
    font-size: 2.5rem;
    color: var(---dark-color);
   font-weight: bolder;
    
}
.header .header1 .search-form{
  font-size: 2.5rem;
    width:20rem;
    height: 5rem;
    border: var(---border);
    border-radius: 1.5rem;
    overflow: hidden;
    background: #fff;
    align-items: center;
    display: flex;
    margin-left: 95%;
}
.header .header1 .search-form input{
    font-size: 1.6rem;
    top: 100%;
    padding: 1rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(----black);
}
.header .header1 .search-form .fa-search {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(---blue);
  cursor: pointer;
  

}
.header .header1 .search-form .fa-search:hover{
color: blue;
}

.header .header1 .icons,
.header .header1 .icons a{
  display: inline;
  font-size: 2.5rem;
  margin-left: 100%;
    cursor: pointer;
    justify-content: space-between;
}
.header .header1 .icons div:hover,
.header .header1 .icons a:hover{
  color: var(---dark-color);
}
.navbar {
  display: inline;
  list-style-type:none ;
   margin: none;
  justify-content: space-between;
  padding: 0;
  width: 60px;
  font-size: 15px;
  background-color: aqua;
}

 a {
  display: inline;
  

}
::selection{
  background: var(---light-color);
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, aquamarine, blue);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  
  position: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: aqua;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: blue;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, aquamarine, blue, aqua, blue);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.fa-user:hover {
  opacity: 0.8;
  color: blue;
}

.close {
  position: flex;
  right: 25px;
  top: 25px;
  color: #000;
  box-shadow: #fff;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: b;
  cursor: pointer;
}
button .fa-user{
  box-sizing: 100px;
  background:aquamarine;
  font-size: 2.5rem;
  
}
.form-container.active{
  right: 0;
}


